# Pandas
Read the link https://pandas.pydata.org/docs/user_guide/10min.html before starting the exercises.

We will use the data set "cars_data" in the exercises below.

In [1]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

Comma Separated Values (CSV) is a common data format used for storing tabular data, 
such as spreadsheets or databases. Each line in a CSV file represents a row of data, 
and each value within that row is separated by a comma. CSV files are widely used because they are simple, human-readable, and can be easily imported and exported by various software applications, including spreadsheet programs like Microsoft Excel and data analysis tools like Python's Pandas library.

En CSV är helt enkelt en textfil där datat är separerade med ett komma tecken. CSV filer är väldigt mobila i o m att det är en enkel textfil. De flesta seriösa program (av databas karaktär) kan exportera och importera csv filer. T ex exportera ut en signalista från ett scada system för att sedan efter manipulering importera in den i ett nytt system. Verktyg för manipulation brukar vara excel. Excel är ett bra program för att hantera data i tabular form.

T ex på innehåll i en CSV fil;

Index, Namn, telefon, ....
1, Erkki, 021212121, ....
2, Kalle, 081232121, ....
3, Kajsa, 031784125, ....
...

### Load the data set "cars_data" through Pandas.

In [2]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\03_nbi_yh\korta_yh_kurser\python_för_ai\kunskapskontroll_1\cars_data.csv')

### Print the first 10 rows of the data.

In [74]:
import pandas as pd
from io import StringIO

f =  pd.read_csv(r'cars_data.csv')   
print(f.head(10)) # Display first 10 rows of the dataframe

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Print the last 5 rows.

In [75]:
import pandas as pd
from io import StringIO

f =  pd.read_csv(r'cars_data.csv')   
print("5 last rows:\n", f.tail(5)) # Display last 5 rows of the dataframe

5 last rows:
     index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [76]:
print(f.info()) # Get info about the dataframe including null values. 
print()
print(f.isnull().sum()) # Check for null values in each column. (omvänt mot ovan, visar antal rader med null värden)

#print(f.describe()) # Get statistical summary of numerical columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB
None

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

I första fallet ser vi att 'price' avviker med 3, i andra fallet (isnull) så visas också att 'price' 3 värden (är null).

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [77]:
f.dropna(inplace=True)  # Remove rows with null values ( idetta fall de tre raderna med saknade värden, verifierat med excel )

print(f.info()) # Get info about the dataframe including null values.
print()
print(f.isnull().sum()) # Check for null values in each column. (omvänt mot ovan, visar antal rader med null värden)

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             58 non-null     int64
 1   company           58 non-null     object
 2   body-style        58 non-null     object
 3   wheel-base        58 non-null     float64
 4   length            58 non-null     float64
 5   engine-type       58 non-null     object
 6   num-of-cylinders  58 non-null     object
 7   horsepower        58 non-null     int64
 8   average-mileage   58 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.0+ KB
None

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

### Calculate the mean of each numeric column.

In [101]:
print(f.describe()) # Get statistical summary of numerical columns.

           index  wheel-base      length  horsepower  average-mileage  \
count  58.000000   58.000000   58.000000   58.000000        58.000000
mean   40.827586   98.620690  173.646552  106.051724        25.534483
std    25.865467    6.810589   14.005616   48.915402         7.932203
min     0.000000   88.400000  141.100000   48.000000        13.000000
25%    17.250000   94.500000  165.300000   68.000000        19.000000
50%    41.000000   96.400000  171.450000  100.000000        24.500000
75%    60.000000  101.800000  182.775000  122.500000        31.000000
max    88.000000  120.900000  208.100000  262.000000        47.000000

              price
count     58.000000
mean   15387.000000
std    11320.259841
min     5151.000000
25%     6808.500000
50%    11095.000000
75%    18120.500000
max    45400.000000

### Select the rows where the column "company" is equal to 'honda'.

In [79]:
#print(f.info())

f_df = f[f['company'] == 'honda']  # Filter rows where company is 'honda'
print(f_df)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [81]:
s_df = f.sort_values(by='price', ascending=False, inplace=False).head(5)  # Get top 5 most expensive cars
print(s_df)

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [90]:
f_df = f[f['company'].isin(['audi', 'bmw', 'porsche' ])]  # Filter rows where company is 'audi', 'bmw', or 'porsche'
print(f_df)

    index  company   body-style  wheel-base  length engine-type  \
3       3     audi        sedan        99.8   176.6         ohc
4       4     audi        sedan        99.4   176.6         ohc
5       5     audi        sedan        99.8   177.3         ohc
6       6     audi        wagon       105.8   192.7         ohc
7       9      bmw        sedan       101.2   176.8         ohc
8      10      bmw        sedan       101.2   176.8         ohc
9      11      bmw        sedan       101.2   176.8         ohc
10     13      bmw        sedan       103.5   189.0         ohc
11     14      bmw        sedan       103.5   193.8         ohc
12     15      bmw        sedan       110.0   197.0         ohc
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
45              six         207               17  34028.0
46              six         207               17  37028.0

### Find the number of cars (rows) for each company.

In [91]:
f_noc = f['company'].value_counts()  # Count number of cars per company
print(f_noc)

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
jaguar           3
dodge            2
porsche          2
volvo            2
isuzu            1
Name: count, dtype: int64

### Find the maximum price for each company.

In [ ]:
maxp = f.groupby('company')['price'].max()  # Get maximum price per company
minp = f.groupby('company')['price'].min()  # Get minimum price per company
medp = f.groupby('company')['price'].median()  # Get median price per company

print("Maximum price:\n", maxp)
print("\nMinimum price:\n", minp)
print("\nMedian price:\n", medp)

Maximum price:
 company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

Minimum price:
 company
alfa-romero      13495.0
audi             13950.0
bmw              16430.0
chevrolet         5151.0
dodge             6229.0
honda             7295.0
isuzu             6785.0
jaguar           32250.0
mazda             5195.0
mercedes-benz    25552.0
mitsubishi        5389.0
nissan            6649.0
porsche          34028.0
toyota            5348.0
volkswagen        7775.0
volvo            12940.0
Name: price, dtype: float64

Median price:
 company
alfa-romero      16500.0
audi             16350.0
bmw              25865.0
chevrolet         6295.0
dodge             6303.0
honda            10345.0
isuzu             6785.0
jaguar           35550.0
mazda             6795.0
mercedes-benz    34604.0
mitsubishi        6589.0
nissan            7099.0
porsche          35528.0
toyota            6918.0
volkswagen        7985.0
volvo            13177.5
Name: price, dtype: float64